body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* the Modal (background */
.modal {
  display: none; /* hidden by default */
  position: fixed; /* stay in place */
  z-index: 1; /* sit on top */
  padding-top: 100px; /* location of the box */
  left: 0;
  top: 0;
  width: 100%; /* full width */
  height: 100%; /* full height */
  overflow: auto; /* enable scroll if needed */
  background-color: rbg(0, 0, 0);  /* fall back color */
  background-color: rbga(0, 0, 0, 0.4);  /* black with 40% opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888888;
  width: 80%;
}

/* close button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 32px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}
